.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  min-width: 345px;
}

@media screen and (max-width: 375px) {
  .app {
    align-items: flex-start;
  }
}